@charset "utf-8";

@import url(./base.css);


/* ---------------레이아웃 시작------------------------ */
.ly_result {padding: 12px; }
.ly_quizResultCont {width: 93.33vw; position: relative; left: 50%; transform: translateX(-50%); padding-top: 75vw; padding-bottom: 6.67vw; margin-bottom: 3.33vw; display: flex; flex-direction: column; align-items: center;}
.ly_quizResult {padding: 12px; display: flex; flex-direction: column; align-items: center; }
.ly_center {overflow: hidden; width: 100vw; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.ly_eventMain {padding: 70px 0 50px; }
.ly_header {height: 650px;}
.ly_header_inner {width: 1080px; margin: 0 auto; padding: 70px 0; height: 100%; display: flex; align-items: center;}
.ly_baseCenter {display: block; width: 1080px; margin: 0 auto;}
.ly_footer_inner {padding: 36px 0; margin: 0 auto; width: 1080px; display: flex; justify-content: space-between; align-items: center; }
/* //////////////////레아아웃 끝////////////////// */

/* ---------------모듈 시작------------------------ */
.bl_oeCardWrapper {display: flex; flex-wrap: nowrap; margin-bottom: 55px;}
.bl_oeCardUnit {position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 54Vw; height: 265px; margin: 0 5vw; border-radius: 25px; box-shadow: 0 3px 12px rgba(0,0,0,0.25);}
.bl_oeCardUnit figcaption {font-size: 30px; font-weight: bold; letter-spacing: 0.05em; margin-top: 20px; color: #fff; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;}
.bl_oeCard_oeRnkLabel {transform: rotate(20deg); position: absolute; top: -20px; right: -35px;} 

.bl_card {text-align: center; margin-bottom: 50px;}
.bl_card:last-child {margin-bottom: 0;}
.bl_card_imgWrapper img {width: 100%;}
.bl_card_lv1Ttl {font-size: 44px; color: #0B5932; font-weight: bold; margin-bottom: 16px;}
.bl_card_lv2Ttl {font-size: 36px; color: #0B5932; font-weight: bold; margin-bottom: 16px;}
.bl_card_lv3Ttl {font-size: 20px; line-height: 30px; margin-bottom: 16px;}
.bl_card_txt {margin-bottom: 28px; font-size: 16px; line-height: 23px;}
.bl_card_txt.bl_card_txtLeft {display: flex; flex-direction: column; align-items: center;}
.bl_card_txt.bl_card_txtLeft p {text-align: start;}
.bl_card_txt .ic_dot_darkGreen {display: inline-block; height: 6px; width: 6px; position: relative; bottom: 3px; margin-right: 4px;}

.bl_topBar {display: flex; justify-content: space-between; align-items: center; height: 80px;}

.bl_media {display: flex; justify-content: space-between; align-items: center; position: relative; width: 1080px;}
.bl_media_imgWrapper {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.bl_media_imgWrapper img {width: 800px;}
.bl_media_subTtl {white-space: nowrap; font-size: 36px; font-weight: normal; letter-spacing: -0.05em; color: #767676;}
.bl_media_ttl {font-size: 88px; margin: 32px 0;}
.bl_media_lv2Ttl {font-size: 44px; margin: 16px 0 32px;  font-weight: bold; }
.bl_media_ttl::before {content: ''; display: inline-block; height: 65px; background: #25A765; width: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; margin-right: 16px;}
.bl_media_txt {white-space: nowrap; font-size: 24px; line-height: 34px; color: #767676; letter-spacing: -0.05em; }
.bl_media.bl_media_rev {flex-direction: row-reverse;}
.bl_media.bl_media_rev .bl_media_imgWrapper {left: 0; z-index: -1 }

.bl_nav{display: flex; justify-content: center; font-size: 24px; position: relative;}
.bl_nav_bbLine { position: absolute; bottom: 1px; display: block; border-bottom: 1px solid #e5e5ec; width: 100vw; z-index: -1;}
.bl_nav_item {padding: 24px 32px; cursor: pointer; white-space: nowrap;}
.bl_nav_item.on {border-bottom: 3px solid #25A765; }

.bl_quiz { padding: 12.5vh 0 3.1vh; display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 100vh; }
.bl_quiz_count {display: flex; align-items: center; }
.bl_quiz_count img{ width: 30px;}
.bl_quiz_num {font-family: "Times New Roman", serif; font-size: 32px; font-weight: bold; display: block; color: #25A765; position: relative; top: 1px; left: -3px;}
.bl_quiz_cont {text-align: center; display: flex; flex-direction: column; align-items: center;}
.bl_quiz_ttl {font-size: 26px; line-height: 36px; width: 91vw; word-break: keep-all;}
.bl_quiz_txt {margin-bottom: 12px;}
.bl_quiz_txt.on {transition-duration: 0.4s; background-color: #25A765 !important;}
.bl_quiz_subCount {font-size: 20px; color: #767676;}

.bl_groupCardWrapper > * {margin-bottom: 16px;}
.bl_groupCardWrapper > *:last-child {margin-bottom: 0;}
.bl_groupCard_item {text-align: left; width: 63.88vw; background: #F7F7FB; border-radius: 10px; overflow: hidden; box-shadow: 0px 1px 3px rgba(0,0,0,0.25);}
.bl_groupCard_imgWrapper {width: 100%;}
.bl_groupCard_imgWrapper img{width: 100%; height: 63.88vw; object-fit: cover; object-position: center;}
.bl_groupCard_cont {padding: 4.44vw;}
.bl_groupCard_ttl {font-size: 3.88vw;}
.bl_groupCard_txt {margin: 2.22vw 0 5.55vw; font-size: 5vw; }
.bl_groupCard_subTxt {font-size: 3.61vw;}

/* ///////모듈 끝/////// */

/* ---------------엘리먼트 시작------------------------ */
.el_oeRnkLabel {background: url(/images/promotion/oeTest/il_rank.svg) center no-repeat; background-size: 165px;  width: 165px; height: 70px; padding-top: 36px; font-size: 20px; font-weight: bold; white-space: pre; text-align: center;}

.el_fixedBottom {position: fixed; bottom: 16px; left: 50%; transform: translateX(-50%);}

.el_imgCover_wrapper {display: flex; justify-content: center;align-items: center;}
.el_imgCover_wrapper img {width: 100%; object-position: center; object-fit: cover;} 

.el_lineBtn_h56 {height: 56px; font-size: 1em; background: #fff; padding: 0 12px; display: flex; justify-content: center; align-items: center; border: 1px solid #000;}
.el_lineBtn_h56 a {content: ''; display: inline-block;  margin-left: 6px; width: 16px; height: 16px;}
.el_lineBtn_h56.el_lineBtn_h56__fixedV {position: fixed; bottom: 16px; left: 50%; transform: translateX(-50%); color: #0176f9; border: 1px solid #0176f9; width: 91vw; box-shadow: 0 0 10px rgba(0,0,0,0.3);}

.el_spreadBtn_h56 {color: #0176F9; width: 90vw; position: relative; left: 50%; transform: translateX(-50%); border: 1px solid #0176f9; display: flex; justify-content: center; align-items: center; height: 56px; font-size: 1em; background-color: #fff; box-shadow: 0 -10px 15px rgba(255,255,255,0.9), -2px 2px 2px rgba(0,0,0,0.3); border-radius: 5px;}
.el_spreadBtn_h56 a {content: ''; display: inline-block;  margin-left: 6px; width: 16px; height: 16px;}

.el_lv1Btn_lineV {display: inline-flex; justify-content: center; align-items: center;  background: transparent; border: 1px solid #000; height: 72px; ; font-size: 24px; padding: 0 32px; border-radius: 5px;}
.el_lv2Btn_lineV {display: inline-flex; justify-content: center; align-items: center;  background: transparent; border: 1px solid #000; height: 15.55vw; ; font-size: 4.44vw; padding: 0 4.44vw; border-radius: 1.38vw;}
.el_lv2Btn_lineV .ic_down {width: 4.44vw; height: 4.44vw; display: block; margin-left: 2.22vw;}
.el_lv3Btn_lightLineV {text-align: center; display: inline-block; line-height: 48px; background: transparent; border: 1px solid #e5e5ec; height: 48px; font-size: 14px; border-radius: 5px; padding: 0 18px;}

.el_lv2Btn_wPull {display: flex; position: fixed; bottom: 0; height: 56px; color: #fff; background: #0B5932; font-size: 16px; width: 100vw; align-items: center; justify-content: center; }

.el_rowNav {font-size: 18px; display: flex; flex-direction: column; justify-content: space-between; min-height: 250px}
.el_rowNav.el_rowNav_rev {align-items: flex-end; text-align: end;}
.el_rowNav_col {display: flex;}
.el_rowNav_col li {padding: 0 24px; border-right: 1px solid #c6c6c6;}
.el_rowNav_col li:first-child {padding-left: 0;}
.el_rowNav_col li:last-child {border: none; padding-right: 0;}
.el_rowNav_row li {padding: 6px 0;}

.el_rowNav_col.el_rowNav_col_ic li {border: none; background-color: #F1F1F5; width: 48px; height: 48px; padding: 0; margin-left: 24px; box-shadow: 4px 4px 15px rgba(0,0,0,0.05), -4px -4px 10px rgba(255,255,255,0.7); display: flex; justify-content: center; align-items: center;}
.el_rowNav_col.el_rowNav_col_ic li:first-child {margin-left: 0;}
.el_rowNav_col.el_rowNav_col_ic a {display: block; width: 100%; height: 100%;}

.el_lv1FillBtn {font-size: 5.55vw; line-height: calc(5.00vw + 12.00px);; padding: 0.8em; border-radius: 5px; border: none; background-color: #25A765; display: flex; align-items: center; justify-content: center; color: #fff; letter-spacing: 0;}
.el_lv1FillBtn.el_lv1GraBtn__graOe {background: linear-gradient(135deg, #25A765, #04E2A5); border-radius: 28px; padding-left: 2.4em; padding-right: 2.4em;}
.el_lv1FillBtn.el_lv1FillBtn__quiz {background-color: #000; border-radius: 0; word-break: keep-all;} 
.el_lv1FillBtn.el_lv1FillBtn__kako {background: #F7E01B; color: #000;}
.el_lv1FillBtn.el_lv1FillBtn_beforeIc a {width:6.67vw; height: 6.67vw; display: block; position: relative; top: 3px; margin-right: 2.22vw;}

.el_bgBtn56 {background: #000; height: 56px; border-radius: 28px; color: #fff; font-size: 16px; padding: 0 60px; display: flex; justify-content: center; align-items: center;}

.el_ttlContCard_wrapper > * {margin-bottom: 5.55vw;}
.el_ttlContCard_wrapper > *:last-child {margin-bottom: 0;}

.el_ttlContBox {text-align: center; display: flex; flex-direction: column; align-items: center; }
.el_ttlContBox_subTtl {font-size: 5.55vw; line-height: 1.5em; font-weight: bold; margin-bottom: 1em;}
.el_ttlContBox_ttl {position: relative; font-size: 12vw; font-weight: bold; margin-bottom: 0.33em; display: inline-block; white-space: pre;}
.el_ttlContBox_ttlItem {margin-bottom: 28px; display: flex; flex-direction: column;}
.el_ttlContBox_ttlItem:last-child {margin-bottom: 0;}
.el_ttlContBox_txt {font-size: 4.44vw; }

.el_box_cardV {width: 84.44vw; padding: 4.44vw 0 6.67vw; border-radius: 10px; box-shadow: 4px 4px 10px rgba(0,0,0,0.1); }
.el_box_cardV .un_lineGreen::before {content: ''; display: block; width: 55%; height: 10px; background: #B2EEBF; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: -1;}
.el_box_cardV .un_lineRed::before {content: ''; display: block; width: 55%; height: 10px; background: #EC9999; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: -1;}
.el_box_cardV .un_lineOeV::before {width: 100%;}


.el_context_wrapper {padding: 44px 24px;}
.el_context_wrapper > * {margin-bottom: 32px;}
.el_context_wrapper > *:last-child {margin-bottom: 0;}
.el_context.el_context__naviOl .el_context_ttl {color: #1D3361;}
.el_context.el_context__naviOl .el_context_txt::before {content: ''; display: inline-block; width: 8px; height: 8px; background: #1D3361; border-radius: 50%; position: absolute; top: 8px; left: -18px; margin-right: 8px;}
.el_context_ttl {font-size: 18px; font-weight: bold; margin-bottom: 16px;}
.el_context_txt {position: relative; margin-bottom: 12px; margin-left: 18px; font-size: 18px; line-height: 28px;}

.el_topBoldLine {position: relative;}
.el_topBoldLine::before {content: ''; display: block; width: 100vw; height: 8px; background: rgb(239, 239, 239); position: absolute; top: 12px;}

.el_topBoldLine__top0 {position: relative;}
.el_topBoldLine__top0::before {content: ''; display: block; width: 100vw; height: 8px; background: rgb(239, 239, 239); position: absolute; top: 0;}

.el_division_vertical {height: 30px; width: 3px; background: #e5e5ec; position: relative; left: 50%; transform: translateX(-50%);} 



/* //////////엘리먼트 끝////////// */

/* ---------------헬퍼클래스 시작------------------------ */

.hp_vw91 {width: 91vw !important;}

.hp_w500 {width: 500px !important;}
.hp_w600 {width: 600px !important;}
.hp_w650 {width: 650px !important;}
.hp_w700 {width: 700px !important;}
.hp_w800 {width: 800px !important;}

.hp_w93v {width: 93.33vw !important;}

.hp_h810 {height: 810px !important;}
.hp_h600 {height: 600px !important;}
.hp_h670 {height: 670px !important;}
.hp_h700 {height: 700px !important;}
.hp_h800 {height: 800px !important;}

.hp_f12 {font-size: 12px;}
.hp_f14 {font-size: 14px;}
.hp_f20 {font-size: 20px;}
.hp_f24 {font-size: 24px;}
.hp_f14vw {font-size: 3.88vw;}

.hp_cBlack {color: #000 !important;}
.hp_c505050 {color: #505050 !important;}
.hp_c767676 {color: #767676 !important;}
.hp_cDarkGreen {color: #0B5932 !important;}
.hp_cYellow {color: #EED822;}
.hp_cGreen {color: #25A765;}
.hp_cNavi {color: #1D3361;}
.hp_cRed { color: #dc0000;}

.hp_pb100 {padding-bottom: 100px !important;}
.hp_pb0 {padding-bottom: 0px !important;}


.hp_mb4 {margin-bottom: 4px;}
.hp_mb8 {margin-bottom: 8px;}
.hp_mb24 {margin-bottom: 24px;}
.hp_mb12 {margin-bottom: 12px;}
.hp_mb44 {margin-bottom: 44px;}
.hp_mb50 {margin-bottom: 50px;}
.hp_mb70 {margin-bottom: 70px;}

.hp_mt3_33v {margin-top: 3.33vw;}

.hp_mt24vw {margin-top: 6.67vw;}
.hp_mt12 {margin-top: 12px;}
.hp_mt24 {margin-top: 24px;}
.hp_mt32 {margin-top: 32px;} 
.hp_mt36 {margin-top: 36px;} 

.hp_m12 {margin: 12px;}

.hp_borderNavi {border: 1px solid #1D3361;}
.hp_borderLight {border: 1px solid #e5e5ec;}

.hp_bgcBottomTop_yellow {background: linear-gradient(0deg, #FFFFED, #fff)}
.hp_bgLight {background-color: #f7f7fb;}
.hp_bgSoft {background-color: #F1F1F5;}
.hp_bgC__white {background: #fff;}
.hp_bgc__lightGreen {background: #E9F9EE;}
.hp_bgc__lightGreen2 {background: #F9FBF6;}
.hp_bgcLightYellow {background: #FFE297;}
.hp_bgcYellow {background: #F7E01B;}


.hp_relative {position: relative;}
.hp_absolBottom {position: absolute; bottom: 0;}
.hp_absolBottom8 {position: absolute; bottom: 8px;}
.hp_absolBottom20 {position: absolute; bottom: 20px;}
.hp_w100 {width: 100%;}
.hp_w100v {width: 100vw;}
.hp_boxShadowY10 {box-shadow: 0 10px 10px rgba(0,0,0,0.1);}

.hp_justifyBetween {justify-content: space-between !important;}

/* /////////헬퍼클래스 끝///////////// */


/* ---------------유니크클래스 시작------------------------ */


.un_cont {width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.un_cont h1 {font-size: 36px; line-height: 48px;}
.un_cont_li a {display: inline-block; padding: 30px; background-color: #25A765; border: 1px solid #25A765; border-radius: 10px; color: #fff; margin: 30px; transition-duration: 0.4s;}
.un_cont_li a:hover {background-color: #fff; color: #25A765; border: 1px solid #25A765;}

.un_header_comment {position: absolute; display:block; width: 1080px; left: 50%; transform: translateX(-50%); bottom:32px; font-size: 18px;}

.un_media_rTextPosition {position : relative; top: -70px; left: -40px;}
.un_media_lTextPosition {position : relative; top: -70px; left: 0;}

.un_quizResultImg_wrap {width: 100vw; height: 100vw; position: absolute; top: -12px; left: -12px;}
.un_quizResultImg_wrap img {width: 100%;}
/* 모디파이어 */
.un_quizResultImg_wrap.oeV {display: flex; align-items: center; justify-content: center;}
.un_quizResultImg_wrap.oeV img{width: 60%; position: relative; bottom: 25px;}

.un_oeResultLabel {background: url(/images/promotion/oeTest/il_rank.svg) center/ cover; width: 300px; height: 110px; padding-top: 58px; position: relative; top: 0px;}
.un_oeResultLabel h1 {font-size: 36px; letter-spacing: 0; color: #191919;}
.un_oeResultLabel span {position: relative; top: 10px; font-size: 16px; color: #767676; margin-top: 4px;}

.un_oeTestTtl {font-size: 36px; font-weight: bold; letter-spacing: 0; margin-bottom: 28px; color: #25a765;}

/* 신사와아가씨 이벤트 */
.un_oeDown_imgWrapper img {width: 21.66vw;}
.un_oeDown_ttl {font-size: 3.88vw; font-weight: bold; color: #505050; margin: 2.22vw 0 1.11vw;}
.un_oeDown_review img{width: 3.33vw;}
.un_oeDown_review span {font-size: 3.61vw; position: relative; bottom: 1px; }

.un_sinsaYellow {background: #FFF3D3;}
.un_sinsaGreen {background: #EFFFC2;}
.un_sinsaBlue {background: #D8D9FF;}
.un_sinsaPurple {background: #E8CFFC;}
.un_sinsaRed {background: #FFD9D9;}

.un_groupTip_wrapper {position: relative;}
.un_groupTip_btn {display: block; padding: 0 30px; height: 56px; font-size: 16px; font-weight: bold; line-height: 56px; letter-spacing: 0; background: #000; color: #fff; border-radius: 10px; text-align: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: 108px; z-index: 999;}



/* //////////유니크 클래스 끝////////// */


/* ---------------아이콘 셋 시작------------------------ */


.ic_dot_darkGreen {background: url(../images/ic_dot_darkGreen.svg) center / cover;}
.ic_spread_down {background: url(../images/ic_spread_down.svg) center / cover;}
.ic_spread_up {background: url(../images/ic_spread_up.svg) center / cover;}
.ic_spread_down__green {background: url(../images/ic_spread_down__green.svg) center / cover;}
.ic_spread_up__green {background: url(../images/ic_spread_up__green.svg) center / cover;}
.ic_spread_down__blue {background: url(../images/ic_spread_down__blue.svg) center / cover;}
.ic_spread_up__blue {background: url(../images/ic_spread_up__blue.svg) center / cover;}
.ic_blog {background: url(../images/ic_blog.svg) center / cover;}
.ic_instargram {background: url(../images/ic_instargram.svg) center / cover;}
.ic_facebook {background: url(../images/ic_facebook.svg) center / cover;}
.ic_down {background: url(../images/ic_down.svg) center / cover;}
.ic_kakao {background: url(../images/ic_kakao.svg) center/ cover;}

/* /////////아이콘 셋 끝///////////// */


/* ---------------자바스크립트 조절클래스 시작------------------------ */


.js_hToggle {height: 176px; overflow: hidden;}
.js_fixedNav {box-shadow: 0 10px 15px rgba(0,0,0,0.1); position: fixed; top: 0; background-color: #fff; margin-top: 0; width: 100%; z-index: 999;}
.js_imgChange.hp_w800 {width: calc(26.83vw + 283.41px) !important}
.js_spreadBtn_position { bottom: 20px !important;}


/* /////////자바스크립트 조절클래스 끝///////////// */

.vp_ToggleBlind {display: none;}


@media screen and (max-width: 1180px) {

    .ly_header {height: auto; overflow: hidden;}
    .ly_baseCenter {width: 100vw; overflow: hidden; text-align: center;}
    .ly_header_inner {width: 100vw; height: auto;}
    .ly_footer_inner {width: 100vw; padding: 30px 30px; flex-direction: column; margin-bottom: 56px;}

    .un_header_comment {display: none;}
    .bl_media {text-align: center; justify-content: center; flex-direction: column; align-items: center; width: 100vw; }
    .bl_media_imgWrapper {position: static;}
    .bl_media_imgWrapper img {width: calc(24.39vw + 312.20px);}
    .bl_media_imgWrapper {transform: none;}
    .bl_media_ttl::before {display: none;}
    .bl_media_ttl {font-size: calc(2.93vw + 53.46px);; margin: 16px 0;}
    .bl_media_txt {margin-bottom: 0; font-size: calc(1.22vw + 9.61px); line-height: calc(1.71vw + 13.85px); }
    .bl_media_lv2Ttl {margin: calc(0.49vw + 10.24px) 0 calc(1.95vw + 8.98px); font-size: calc(0.98vw + 32.49px);}
    .bl_media_subTtl {font-size: calc(1.95vw + 12.98px);}
    .bl_topBar {height: calc(2.93vw + 45.46px); padding: 0 30px;}

    .bl_media.bl_media_rev {flex-direction: column; box-sizing: content-box;}
    .hp_w500 {width: calc(21.95vw + 200.98px) !important;}
    .el_lv1Btn_lineV {margin: calc(0.98vw + 12.49px); height: calc(2.93vw + 37.46px); font-size: calc(1.10vw + 11.05px); padding: 0 calc(1.46vw + 14.73px)}
    .el_rowNav.el_rowNav_rev {align-items: center; margin-top: 20px; min-height: calc(2.44vw + 111.22px) !important;}
    .el_rowNav_row li  {text-align: center; white-space: nowrap;}
    .el_rowNav_col  {justify-content: center;}
    .el_rowNav_rev {min-height: 150px;}
    .el_lv3Btn_lightLineV {height: calc(0.98vw + 36.49px); line-height: calc(0.98vw + 36.49px);}
    .el_rowNav { font-size: calc(0.49vw + 12.24px); min-height: calc(6.10vw + 178.05px);}
    .el_rowNav_col.el_rowNav_col_ic li { width: calc(1.46vw + 30.73px); height: calc(1.46vw + 30.73px);}

    .bl_nav {font-size: calc(0.61vw + 12.80px);}
    .bl_nav_item {padding: calc(0.98vw + 12.49px) calc(5.61vw + 1.80px);}

    .un_media_rTextPosition {position: static;}
    .un_media_lTextPosition {position: static;}

    .hp_w650 {width: calc(36.59vw + 218.29px) !important ;}
    .hp_w700 {width: calc(29.27vw + 244.63px) !important;}
    .hp_w800 {width: calc(36.59vw + 368.29px) !important;}


    .hp_h700 {height: auto !important;}
    .hp_h600 {height: auto !important;}

    .hp_h800 {height: auto !important;}
    .hp_h810 {height: auto !important;}

    .vp_mbAuto {margin: calc(8.54vw + -30.73px) 0;}
    .vp_logoSize {width : calc(4.15vw + 37.07px)}
    .vp_ToggleBlind {display: flex; justify-content: center;}
    .vp_mtAuto {margin-top: calc(1.46vw + 18.73px);}
    .vp_contPad {padding: calc(6.10vw + 48.05px) 0 calc(3.66vw + 36.83px);}
    .vp_padBottom_none {padding-bottom: 0;}


}


@media screen and (max-height: 600px) {
    .bl_quiz_count {margin-bottom: 16px;}
}
